# This is the directory where the language file will be created
LANGUAGE_DIR       build
#
# The target-attribute's name for wiki links
TARGET_WIKI_LINK   siwecos_wiki
#
# The target-attribute's name for external links
TARGET_EXTERN_LINK siwecos_extern
